<h1> Public recipes: </h1>

<% @public_recipes.each do |recipe| %>

    <%= link_to recipe_path(recipe[:id]) do %>
    <p>Simple dish by: <%= recipe[:recipe_name] %> </p>
    <p>Recipe user_name: <%= recipe[:user].name %> </p>
    <p>Food items: <%= recipe[:food_items] %> </p>
    <p>Total price: <%= recipe[:total_price] %> </p>
<% end %>
<% end %>

 
