
<h2>Welcome <%= user.name %>! </h2>
<%= link_to "See all recipes", user_recipes_path(user, user.recipes) %>
<%= link_to "See all foods", user_foods_path(user, user.foods) %>
<%= link_to "See all shopping lists", general_shopping_lists_path %>
<%= link_to "Public recipes", public_recipes_path(user.recipes) %>
